---
import fs from "node:fs";
import path from "node:path";

const _aboutContent = fs.readFileSync(
	path.resolve(process.cwd(), "../content/about.md"),
	"utf-8",
);
---

<Base title="About" description="About Paul Lavender-Jones">
  <h1 class="title mb-6">About</h1>
  <div class="prose">
    {aboutContent.split("\n\n").map((p) => (
      <p>{p}</p>
    ))}
  </div>
</Base>
